(<span class="talent-mastery">×{{toDecimal [1] 1}}</span>
{{~#if [3]}}, <a href="http://te4.org/wiki/Unlockables" class="hint-link" title="View wiki for information on unlocking">可解锁</a>{{~else}}{{#unless [0]}}, 需解锁{{/unless}}{{/if}})
